footer
  .container.text-center
    p.float-left © 2020 CrashMaps, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/qwerty10w/SB_Hacks_2020') GitHub Project
