extends layout

block content
  h1 CrashMaps
  p.lead Crash Detection, Notification, and Prevention - Optimized for Cyclists.
  hr
  .row
    .col-md-6
      h2 The Issue
      p Whether you're riding alone or with friends, you are never safe from a potential crash. Cycling can be dangerous, and in a tough situation, a single phone call can be the difference between life and death. Cycling SHOULD be a fun and safe activity - that’s what CrashMaps is here to ensure.  
      p
      //  a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Crash Detection
      p Using a device we conned the Firebox, consisting of a RasPi4, gyroscope, and accelerometer, we can detect crashes. Taking in factors such as the change in acceleration, tilt, as well as difference in time, crashing can be differentiated from normal ride activity, making it possible for accurate alerts in the case of an emergency. This data is shared to the phone through Firebases real-time database, instantly communicating critical information. Our Prototype can be viewed <a href="https://imgur.com/a/feB7x7P">here.</a>
      p
      //  a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Notifications
      p In case of an accident, selected emergency contacts as well as medical professionals can be automatically alerted through a phone call or text. We developed an Andriod app that can read in data from the real-time database and instantly contact with trusted individuals ensures that even in the case of incapacitation, someone is alerted.
      p
      //  a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Prevention
      p Compiled reports of frequent crashes means that riders can plan their routes accordingly, enabling the avoidance of areas that are prone to accidents. As crashes are recorded, our HeatMap updates live so that riders can plan around areas that might be riskier.
      p
      //  a.btn.btn-raised(href='#', role='button') View details »
