
doctype html
html
  head
    meta(charset='utf-8')
    title Heatmaps
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
      height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }
      #floating-panel {
      position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;2
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
      }
      #floating-panel {
      background-color: #fff;
      border: 1px solid #999;
      left: 25%;
      padding: 5px;
      position: absolute;
      top: 10px;
      z-index: 5;
      }
  body
    #floating-panel
      button(onclick='toggleHeatmap()') Toggle Heatmap
      button(onclick='changeGradient()') Change gradient
      button(onclick='changeRadius()') Change radius
      button(onclick='changeOpacity()') Change opacity
      script(src='/__/firebase/7.6.2/firebase.js')
      script(src='/__/firebase/init.js')

    #map
    script.
      var map, heatmap;
      function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: {lat: 34.423, lng: -119.858},
      mapTypeId: 'satellite'
      });
      heatmap = new google.maps.visualization.HeatmapLayer({
      data: getPoints(),
      map: map
      });
      }
      function toggleHeatmap() {
      heatmap.setMap(heatmap.getMap() ? null : map);
      }
      function changeGradient() {
      var gradient = [
      'rgba(0, 255, 255, 0)',
      'rgba(0, 255, 255, 1)',
      'rgba(0, 191, 255, 1)',
      'rgba(0, 127, 255, 1)',
      'rgba(0, 63, 255, 1)',
      'rgba(0, 0, 255, 1)',
      'rgba(0, 0, 223, 1)',
      'rgba(0, 0, 191, 1)',
      'rgba(0, 0, 159, 1)',
      'rgba(0, 0, 127, 1)',
      'rgba(63, 0, 91, 1)',
      'rgba(127, 0, 63, 1)',
      'rgba(191, 0, 31, 1)',
      'rgba(255, 0, 0, 1)'
      ]
      heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }
      function changeRadius() {
      heatmap.set('radius', heatmap.get('radius') ? null : 20);
      }
      function changeOpacity() {
      heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }
      // Heatmap data: 500 Points
      function getPoints() {
      return [

      {location: new google.maps.LatLng(34.412827, -119.846222), weight: 3},
      {location: new google.maps.LatLng(34.412812, -119.846125), weight: 4},
      {location: new google.maps.LatLng(34.412907, -119.846222), weight: 2},
      {location: new google.maps.LatLng(34.412876, -119.847874), weight: 5},
      {location: new google.maps.LatLng(34.413179, -119.847842), weight: 6},
      {location: new google.maps.LatLng(34.413076, -119.847784), weight: 2},
      {location: new google.maps.LatLng(34.413120, -119.851976), weight: 5},
      {location: new google.maps.LatLng(34.413046, -119.852040), weight: 3},
      {location: new google.maps.LatLng(34.412746, -119.852019), weight: 1},
      {location: new google.maps.LatLng(34.413576, -119.851969), weight: 5},
      {location: new google.maps.LatLng(34.414500, -119.849580), weight: 2},
      {location: new google.maps.LatLng(34.414821, -119.847784), weight: 7},
      {location: new google.maps.LatLng(34.414815, -119.847658), weight: 8},

      {location: new google.maps.LatLng(34.413129, -119.853366), weight: 4},
      {location: new google.maps.LatLng(34.413091, -119.853562), weight: 3},
      {location: new google.maps.LatLng(34.413016, -119.853600), weight: 6},
      {location: new google.maps.LatLng(34.417595, -119.853514), weight: 2},
      {location: new google.maps.LatLng(34.417535, -119.853670), weight: 1},
      {location: new google.maps.LatLng(34.417489, -119.853560), weight: 6},
      {location: new google.maps.LatLng(34.413043, -119.841418), weight: 7},
      {location: new google.maps.LatLng(34.413003, -119.841435), weight: 2},
      {location: new google.maps.LatLng(34.417482, -119.833469), weight: 1},
      {location: new google.maps.LatLng(34.417504, -119.833346), weight: 2},
      {location: new google.maps.LatLng(34.425299, -119.810207), weight: 3},
      {location: new google.maps.LatLng(34.425237, -119.810103), weight: 1},
      {location: new google.maps.LatLng(34.430359, -119.788408), weight: 5},
      {location: new google.maps.LatLng(34.430297, -119.788333), weight: 8},
      {location: new google.maps.LatLng(34.430244, -119.788322), weight: 10},
      {location: new google.maps.LatLng(34.436367, -119.773720), weight: 2},
      {location: new google.maps.LatLng(34.413099, -119.855330), weight: 4},
      {location: new google.maps.LatLng(34.413090, -119.855412), weight: 3},
      {location: new google.maps.LatLng(34.413165, -119.855392), weight: 1},
      {location: new google.maps.LatLng(34.414411, -119.855381), weight: 2},
      {location: new google.maps.LatLng(34.413160, -119.857727), weight: 5},
      {location: new google.maps.LatLng(334.413156, -119.857836), weight: 6},
      {location: new google.maps.LatLng(34.413098, -119.857866), weight: 1},
      {location: new google.maps.LatLng(34.413089, -119.857692), weight: 5},
      {location: new google.maps.LatLng(34.412710, -119.847834), weight: 8},
      {location: new google.maps.LatLng(34.413604, -119.842294), weight: 12},
      {location: new google.maps.LatLng(34.413602, -119.842344), weight: 8},
      {location: new google.maps.LatLng(34.413562, -119.842178), weight: 7},
      {location: new google.maps.LatLng(34.417509, -119.869647), weight: 6},
      {location: new google.maps.LatLng(34.417418, -119.869840), weight: 1},
      {location: new google.maps.LatLng(34.417360, -119.869625), weight: 6},
      {location: new google.maps.LatLng(34.430189, -119.869614), weight: 6},
      {location: new google.maps.LatLng(34.430074, -119.869770), weight: 1},
      {location: new google.maps.LatLng(34.430127, -119.868043), weight: 2},
      {location: new google.maps.LatLng(34.422064, -119.859604), weight: 5},
      {location: new google.maps.LatLng(34.422069, -119.859472), weight: 2},
      {location: new google.maps.LatLng(34.417499, -119.860629), weight: 7},
      {location: new google.maps.LatLng(34.417343, -119.860645), weight: 1},
      {location: new google.maps.LatLng(34.413780, -119.855386), weight: 4},
      {location: new google.maps.LatLng(34.430483, -119.859572), weight: 2},
      {location: new google.maps.LatLng(34.414810, -119.847771), weight: 8},
      {location: new google.maps.LatLng(34.414961, -119.847753), weight: 1},
      {location: new google.maps.LatLng(34.416641, -119.845380), weight: 5},
      {location: new google.maps.LatLng(34.416721, -119.845045), weight: 2},
      {location: new google.maps.LatLng(34.416690, -119.843725), weight: 7},
      {location: new google.maps.LatLng(34.416305, -119.843631), weight: 1},
      {location: new google.maps.LatLng(34.416270, -119.843475), weight: 3},
      {location: new google.maps.LatLng(34.416193, -119.843362), weight: 6},
      {location: new google.maps.LatLng(34.415812, -119.843271), weight: 2},
      {location: new google.maps.LatLng(34.415768, -119.843220), weight: 3},
      {location: new google.maps.LatLng(34.415755, -119.843115), weight: 2},
      {location: new google.maps.LatLng(34.414328, -119.842215), weight: 1},
      {location: new google.maps.LatLng(34.414277, -119.842220), weight: 5},
      {location: new google.maps.LatLng(34.412857, -119.847908), weight: 2},
      {location: new google.maps.LatLng(34.411631, -119.844521), weight: 1},
      {location: new google.maps.LatLng(34.411609, -119.846270), weight: 4},
      {location: new google.maps.LatLng(34.411587, -119.846265), weight: 2},
      {location: new google.maps.LatLng(34.414366, -119.850140), weight: 1},
      {location: new google.maps.LatLng(34.414025, -119.851924), weight: 2},
      {location: new google.maps.LatLng(34.417579, -119.852988), weight: 2},
      {location: new google.maps.LatLng(34.412644, -119.858720), weight: 1},
      {location: new google.maps.LatLng(34.411170, -119.858694), weight: 3},
      {location: new google.maps.LatLng(34.409435, -119.856242), weight: 2},
      {location: new google.maps.LatLng(34.412382, -119.857024), weight: 1},
      {location: new google.maps.LatLng(34.412391, -119.856854), weight: 2},
      {location: new google.maps.LatLng(34.411202, -119.854694), weight: 2},
      {location: new google.maps.LatLng(34.411135, -119.853660), weight: 1},
      {location: new google.maps.LatLng(34.411418, -119.853526), weight: 3},
      {location: new google.maps.LatLng(34.411488, -119.852075), weight: 2},
      {location: new google.maps.LatLng(34.411460, -119.852130), weight: 5},



      ];
      }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCCT8MwC0zu1VDZO3SBhYTlmSeFuYyhKDU&libraries=visualization&callback=initMap')
