
doctype html
html
  head
    meta(charset='utf-8')
    title Heatmaps
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
      height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }
      #floating-panel {
      position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
      }
      #floating-panel {
      background-color: #fff;
      border: 1px solid #999;
      left: 25%;
      padding: 5px;
      position: absolute;
      top: 10px;
      z-index: 5;
      }
  body
    #floating-panel
      button(onclick='toggleHeatmap()') Toggle Heatmap
      button(onclick='changeGradient()') Change gradient
      button(onclick='changeRadius()') Change radius
      button(onclick='changeOpacity()') Change opacity
      script(src='/__/firebase/7.6.2/firebase.js')
      script(src='/__/firebase/init.js')

    #map
    script.
      var map, heatmap;
      function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: {lat: 34.423, lng: -119.858},
      mapTypeId: 'satellite'
      });
      heatmap = new google.maps.visualization.HeatmapLayer({
      data: getPoints(),
      map: map
      });
      }
      function toggleHeatmap() {
      heatmap.setMap(heatmap.getMap() ? null : map);
      }
      function changeGradient() {
      var gradient = [
      'rgba(0, 255, 255, 0)',
      'rgba(0, 255, 255, 1)',
      'rgba(0, 191, 255, 1)',
      'rgba(0, 127, 255, 1)',
      'rgba(0, 63, 255, 1)',
      'rgba(0, 0, 255, 1)',
      'rgba(0, 0, 223, 1)',
      'rgba(0, 0, 191, 1)',
      'rgba(0, 0, 159, 1)',
      'rgba(0, 0, 127, 1)',
      'rgba(63, 0, 91, 1)',
      'rgba(127, 0, 63, 1)',
      'rgba(191, 0, 31, 1)',
      'rgba(255, 0, 0, 1)'
      ]
      heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }
      function changeRadius() {
      heatmap.set('radius', heatmap.get('radius') ? null : 20);
      }
      function changeOpacity() {
      heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }
      // Heatmap data: 500 Points
      function getPoints() {
      return [
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.413020, -119.853644),
      new google.maps.LatLng(34.413142, -119.853585),
      new google.maps.LatLng(34.413142, -119.853585),
      new google.maps.LatLng(34.413047, -119.853593),
      new google.maps.LatLng(34.412469, -119.853518),
      new google.maps.LatLng(34.412469, -119.853518),
      new google.maps.LatLng(34.416795, -119.849165),
      new google.maps.LatLng(34.416795, -119.849165),
      new google.maps.LatLng(34.416867, -119.849362),
      new google.maps.LatLng(34.416867, -119.849362),
      new google.maps.LatLng(34.416845, -119.849638),
      new google.maps.LatLng(34.417595, -119.853509),
      new google.maps.LatLng(34.417535, -119.853665),
      new google.maps.LatLng(34.417560, -119.864707),
      new google.maps.LatLng(34.417644, -119.866477),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.413020, -119.853644),
      new google.maps.LatLng(34.413142, -119.853585),
      new google.maps.LatLng(34.413142, -119.853585),
      new google.maps.LatLng(34.413047, -119.853593),
      new google.maps.LatLng(34.412469, -119.853518),
      new google.maps.LatLng(34.412469, -119.853518),
      new google.maps.LatLng(34.416795, -119.849165),
      new google.maps.LatLng(34.416795, -119.849165),
      new google.maps.LatLng(34.416867, -119.849362),
      new google.maps.LatLng(34.416867, -119.849362),
      new google.maps.LatLng(34.416845, -119.849638),
      new google.maps.LatLng(34.417595, -119.853509),
      new google.maps.LatLng(34.417535, -119.853665),
      new google.maps.LatLng(34.417560, -119.864707),
      new google.maps.LatLng(34.417644, -119.866477),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.413020, -119.853644),
      new google.maps.LatLng(34.413142, -119.853585),
      new google.maps.LatLng(34.413142, -119.853585),
      new google.maps.LatLng(34.413047, -119.853593),
      new google.maps.LatLng(34.412469, -119.853518),
      new google.maps.LatLng(34.412469, -119.853518),
      new google.maps.LatLng(34.416795, -119.849165),
      new google.maps.LatLng(34.416795, -119.849165),
      new google.maps.LatLng(34.416867, -119.849362),
      new google.maps.LatLng(34.416867, -119.849362),
      new google.maps.LatLng(34.416845, -119.849638),
      new google.maps.LatLng(34.417595, -119.853509),
      new google.maps.LatLng(34.417535, -119.853665),
      new google.maps.LatLng(34.417560, -119.864707),
      new google.maps.LatLng(34.417644, -119.866477),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.412827, -119.846222),
      new google.maps.LatLng(34.412812, -119.846125),
      new google.maps.LatLng(34.412907, -119.846222),
      new google.maps.LatLng(34.412876, -119.847874),
      new google.maps.LatLng(34.413179, -119.847842),
      new google.maps.LatLng(34.413076, -119.847784),
      new google.maps.LatLng(34.413120, -119.851976),
      new google.maps.LatLng(34.413046, -119.852040),
      new google.maps.LatLng(34.412746, -119.852019),
      new google.maps.LatLng(34.413576, -119.851969),
      new google.maps.LatLng(34.414500, -119.849580),
      new google.maps.LatLng(34.414821, -119.847784),
      new google.maps.LatLng(34.414815, -119.847658),
      new google.maps.LatLng(34.413020, -119.853644),
      new google.maps.LatLng(34.413142, -119.853585),
      new google.maps.LatLng(34.413142, -119.853585),
      new google.maps.LatLng(34.413047, -119.853593),
      new google.maps.LatLng(34.412469, -119.853518),
      new google.maps.LatLng(34.412469, -119.853518),
      new google.maps.LatLng(34.416795, -119.849165),
      new google.maps.LatLng(34.416795, -119.849165),
      new google.maps.LatLng(34.416867, -119.849362),
      new google.maps.LatLng(34.416867, -119.849362),
      new google.maps.LatLng(34.416845, -119.849638),
      new google.maps.LatLng(34.417595, -119.853509),
      new google.maps.LatLng(34.417535, -119.853665),
      new google.maps.LatLng(34.417560, -119.864707),
      new google.maps.LatLng(34.417644, -119.866477),
      {location: new google.maps.LatLng(34.417644, -119.866477), weight: 0.5},
      new google.maps.LatLng(37.782, -122.445),
      {location: new google.maps.LatLng(34.413047, -119.853593), weight: 2},
      {location: new google.maps.LatLng(34.413076, -119.8477841), weight: 3},
      {location: new google.maps.LatLng(34.413179, -119.847842), weight: 250},
      new google.maps.LatLng(34.412907, -119.846222),
      {location: new google.maps.LatLng(34.413179, -119.847842), weight: 5},

      {location: new google.maps.LatLng(34.416867, -119.849362), weight: 3},
      {location: new google.maps.LatLng(34.414815, -119.847658), weight: 2},
      new google.maps.LatLng(34.412827, -119.846222),
      {location: new google.maps.LatLng(34.413179, -119.847842), weight: 0.5},
      new google.maps.LatLng(34.413076, -119.847784),
      {location: new google.maps.LatLng(34.413076, -119.847784), weight: 2},
      {location: new google.maps.LatLng(34.412827, -119.846222), weight: 3},


      ];
      }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCCT8MwC0zu1VDZO3SBhYTlmSeFuYyhKDU&libraries=visualization&callback=initMap')
